.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60PX;
    width: 100%;
    height: 100%;
    margin-top: 200px;

}

.content section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 700px;
    border-radius: 6px; /* Bordes redondeados */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    border-bottom: 2px solid var(--c7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    gap: 20px;
    overflow: hidden;

}

.content section .contini
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.content section .saludo
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c2);
    height: 40px;
    text-shadow: 0 0 10px #fff;
    font-size: 36px;
    margin-bottom: 20px;
    gap: 16px;
    left: 0;
 
    
}

.content section .hola
{
    color: var(--c2);
    font-size: 36px;
    text-align: left;
    
}

.content section .laser
{
    position: absolute;
}

.content section:nth-child(3)
{
    margin-bottom: 50px;
}

.content section .description
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
    border-radius:10px ;
    padding: 40px;
    border: 1px solid var(--c5);
    box-shadow: 0 0 8px var(--c2);
    backdrop-filter: blur(20px);
    overflow: hidden;
    position: relative;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, var(--c6) 0px, transparent 85%),
    radial-gradient(at 41% 94%, var(--c4) 0px, transparent 85%),
    radial-gradient(at 100% 99%, var(--c7) 0px, transparent 85%);
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 10px;
    border: 1px solid var(--c2);
    
 
}


.content section .description p
{
    color: var(--c2);
    font-size: 24px;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    text-shadow: var(--c2);
    text-align: justify;
    margin: 40px;
    
}

.content section .description .download
{
    width: 180px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid var(--c2);
    border-bottom: 8px solid var(--c2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.content section .description .download:hover
{
    background: var(--c5);
    border: 1px solid var(--c7);
    border-bottom: 8px solid var(--c7);
  
}

.content section .description .download a
{
    text-decoration: none;
    color: var(--c2);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 100%;
}

.content section .description .download a:hover
{
    color: var(--c3);
}

.content section .description .download a i
{
    font-size: 24px;
}

.content section .card1
{
    width: 300px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, var(--c6) 0px, transparent 85%),
    radial-gradient(at 41% 94%, var(--c4) 0px, transparent 85%),
    radial-gradient(at 100% 99%, var(--c7) 0px, transparent 85%);
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 10px;
    border: 1px solid var(--c2);
    padding: 10px;
}

.content section .card1 .cd 
{
    width: 90%;
    height: 70px;
    border: 1px solid var(--c2);
    border-bottom: 8px solid var(--c2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-style: italic;
}

.content section .card1 .cd h2
{
    color: var(--c2);
    font-size: 24px;
    letter-spacing: 1px;
}

@keyframes color-bright {
    0%, 100% {
        color: var(--c2);
        filter: brightness(1); /* Brillo original */
    }
    50% {
        color: var(--c5); /* Color brillante */
        filter: brightness(1.5); /* Aumentar el brillo */
    }
}


.content section .card1 .cd .creativeicon
{
    font-size: 42px;
    color: var(--c2);
    animation: color-bright 3s infinite;
}

.content section .card1 .cd .eficienticon
{
    font-size: 36px;
    color: var(--c2);
    
}

.content section .card1 .cd .proficon
{
    font-size: 36px;
    color: var(--c2);
    
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}



.content .skillsc
{
    position: relative;
    height: 800px;
    background: repeating-conic-gradient(from var(--a), var(--c7) 0%, var(--c7) 5%,transparent 5%,
    transparent 40%, var(--c7) 50%);
    animation: rotating 10s linear infinite;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.content .skillsc .skc1
{

    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), var(--c7) 0%, var(--c6) 5%,transparent 5%,
    transparent 40%, var(--c7) 50%);
    animation: rotating 10s linear infinite;
    animation-delay: -10s;
    border-radius: 20px;
    transition: 0.5s;
}


.content .skillsc .skc2
{
  
    position: absolute;
    inset: 1px;
    border-radius: 15px;
    background: var(--c3);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .skillsc .skc2 h2
{
    color: var(--c2);
    font-size: 36px;
    position: absolute;
    top: 0;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.content .skillsc .skc2 .skcont
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 90%;
}

.content .skillsc .skc2 .skcont ul
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--c2);
    gap: 30px;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
}

.content .skillsc .skc2 .skcont ul li
{
    display: flex;
    gap: 10px;
    color: var(--clr);
    
}

.content .skillsc .skc2 .skcont .isometric
{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0004);
}

.content .skillsc .skc2 .skcont .isometric ul
{
    margin-left: 200px;
    transform: skewY(-25deg);
    
    

    
}

.content .skillsc .skc2 .skcont .isometric ul li
{
    position: absolute;
    top: 0;
    transform: translate(calc(var(--i) * 40px), calc(var(--i) * 40px));
    list-style: none;
    width: 100px;
    padding: 16px;
    background: #0D5DFF;
    transition: 0.5s;
    
}

.content .skillsc .skc2 .skcont .isometric ul li i
{
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    text-align: center;
    height: 100%;
    color: var(--clr);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
.content .skillsc .skc2 .skcont .isometric ul li p
{
    position: absolute;
    top: -20px;
    left: -40px;
    width: 40px;
    text-align: center;
    height: 100%;
    color: var(--clr);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}




.content .skillsc .skc2 .skcont .isometric ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: var(--c9);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.content .skillsc .skc2 .skcont .isometric ul li::after
{
    content: attr(data-text);
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--c4);
    transform-origin: bottom;
    transform: skewX(45deg);
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    color: var(--clr);
    text-shadow: 0 0 10px #fff, 0 0 10px #fff;
    font-weight: bold;
}

.content .skillsc .skc2 .skcont ul li
{
    font-size: 20px;
    display: flex;
    align-items: center;
}



@keyframes rotating
{
    0%
    {
        --a:0deg;
    }
    100%
    {
        --a:360deg;
    }
}


.content .aboutme
{
    border: none;
    width: 100%;
    backdrop-filter: none;
    background: none;
    box-shadow: none;

}

.content .aboutme h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c2);
    height: 40px;
    text-shadow: 0 0 10px #fff;
    font-size: 36px;
    gap: 16px;
}

.content .aboutme .cards
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 90%;
    height: 100%;
}

.content .aboutme .cards .card-a
{
    width: 300px;
    height: 420px;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, var(--c6) 0px, transparent 85%),
    radial-gradient(at 41% 94%, var(--c4) 0px, transparent 85%),
    radial-gradient(at 100% 99%, var(--c7) 0px, transparent 85%);
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 10px;
    border: 1px solid var(--c2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .aboutme .cards .card-a .contact-h2
{
    font-size: 24px;
    border-bottom: 1px solid var(--c2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .aboutme .cards .card-a .contactinf 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    position: relative;
}

.content .aboutme .cards .card-a .contactinf p
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--c2);
    font-size: 20px;
}

.content .aboutme .cards .card-a .contactinf p:nth-child(2)
{
    font-size: 16px;
}

.content .aboutme .cards .card-a .eduinf
{
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--c2);
    margin:10px;

}

.content .aboutme .cards .card-a .eduinf div h3
{
    font-size: 16px;
    text-decoration: underline;
}

.content .aboutme .cards .card-a .eduinf div p
{
    font-size: 14px;
    font-style: italic;
}

.content .aboutme .cards .card-a .proyinf
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: var(--c2);
    margin:10px;
    gap: 20px
    ;

}

.content .aboutme .cards .card-a .proyinf i
{
    font-size: 48px;
}

.content .aboutme .cards .card-a .proyinf p
{
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

.content .aboutme .cards .card-a .proyinf a
{
    color: var(--c2);
    border: 1px solid var(--c2);
    border-bottom: 4px solid var(--c2);
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    gap: 10px
;
}
.content .aboutme .cards .card-a .proyinf a i
{
    font-size: 16px;
}

.content .aboutme .cards .card-a .proyinf a:hover
{
    border: 1px solid var(--c7);
    border-bottom: 4px solid var(--c7);
    background: var(--c5);
    color: var(--c3);
}